@vyobukhov would you like to submit a PR with a failing test case and your fix? Although I'd probably move those two functions outside as utility methods.


The `base64_url_decode` in unnecessary. `atob` understands the _alternative_ base64 format described in [RFC 4648 § 5](https://tools.ietf.org/html/rfc4648#page-7):

```js
// Use convoluted plaintext to force base64 output that contains /, +, and =
let plaintext = 'xoúbß©0';
let base64Text = btoa(plaintext); // => "eG/6Yt+pMA=="
let alternativeBase64Text = base64Text
  .replace(/=+$/, '')
  .replace(/\+/g, '-')
  .replace(/\//g, '_');
// => "eG_6Yt-pMA"
let result = atob(alternativeBase64Text); // => "xoúbß©0"
plaintext === result; // => true
```

Also your decoding cannot handle non ASCII characters. Commit [a26137d1 (Decode payload with non ASCII chars correctly.)](https://github.com/jpadilla/ember-simple-auth-token/commit/a26137d10e6f7613b9f73aa9b0b5880f1650a6c6) fixes that problem already.

I have a similar issue and have to used the base64_url_decode method to get it working in chrome 62.
here is the jsfiddle not working : https://jsfiddle.net/a5znd3dy/
and here the jsfiddle working : https://jsfiddle.net/bLj08hp0/2/

Any chance the fix could be released?  I'm on 2.1.0 and a unicode char causes 

```
login failed: {"stack":"Error: Failed to execute 'atob' on 'Window': The string to be decoded is not correctly encoded.\n    at Class.getTokenData
```

code as follows:

```
var credentials = getProperties(this, 'identification', 'password');
var authenticator = 'authenticator:jwt';
get(this, 'session').authenticate(authenticator, credentials).catch(function (reason) {
Logger.error('login failed: ' + JSON.stringify(reason));
```

Might be fixed in master.